

#app {
  section#home {
    #logo{
      img {
        width: 250px;
        @media screen and (min-width: $breakpoint_small) {width: 60%;}
        @media screen and (min-width: $breakpoint_smartphone) {width: auto;}
      }
    }
    #weather{
      .icon {
        font-size: 100px;
        @media screen and (min-width: $breakpoint_small) {font-size: 200px;}
        @media screen and (min-width: $breakpoint_smartphone) {font-size: 250px;}
      }
    }


    #wear{
      .row{

        #accessories{
          img{
            width: 50px;
            margin-top:30px;

            @media screen and (min-width: $breakpoint_small) {width: 100px;}
            @media screen and (min-width: $breakpoint_smartphone) {width: 200px;}

          }

        }
        #top{
          img{
            width: 80px;
            @media screen and (min-width: $breakpoint_small) {width: 150px;}
            @media screen and (min-width: $breakpoint_smartphone) {width: 300px;}

          }

        }
        #backpack{
          img{
            width: 50px;
            margin-top:20px;
            @media screen and (min-width: $breakpoint_small) {width: 100px;}
            @media screen and (min-width: $breakpoint_smartphone) {width: 200px;}

          }

        }
        #description-wear{
          font-size: 30px;
          margin-top: 130px;
          @media screen and (min-width: $breakpoint_small) {margin-top: 90px;}
          @media screen and (min-width: $breakpoint_smartphone) {margin-top: 90px;}
        }
        .option {
          p{
            font-size: 20px;
            @media screen and (min-width: $breakpoint_small) {font-size: 20px;}
            @media screen and (min-width: $breakpoint_smartphone) {font-size: 30px;}
          }

        }

      }

    }




  }
}
