/* APP */
#app {
  section#home {
    #wear.row {
      vertical-align: middle;
      .col {
        font: $font_big;
        margin-top: 20%;
        transform: translate(0,50%);
        .option {
          text-align: center;
        }
        &:nth-child(2){
          font: $font_bigger;
          transform: translate(0%,-15%);
        }
      }
    }
    .description-wear{
      border: 1px solid yellow;

    }
  }
}
