/* APP */
#app {
  section#home {
    #wear{
      .row {

        #description-wear{
          @include debug(yellow);
          text-align: center;
          p{
          }
        }

        .col {
          font: $font_big;
          vertical-align: middle;
          padding-top:50px;
          //margin-top: 20%;
          //transform: translate(0,50%);
          @include debug(green);
          .option {
            text-align: center;
            img {
              display: block;
              @include centered;
            }
          }
          &:nth-child(2){
            font: $font_bigger;
            //transform: translate(0%,-15%);
          }
        }
      }
    }

  }
}
