/* APP */
#app {
  section#home {
    #wear{
      .row {


        #description-wear{
          @include debug(yellow);
          text-align: center;
          text-transform: uppercase;
          margin-top: 90px;
          font-size: 30px;

        }




        .col-xs-4 {
          font: $font_big;
          text-transform: uppercase;
          vertical-align: middle;
          margin-top:$spacer*3;
          //margin-top: 20%;
          //transform: translate(0,50%);
          @include debug(green);
          .option {
            text-align: center;
            img {
              display: block;
              @include centered;
            }
          }
        
        }
      }
    }

  }
}
